/* Scss Document */
/* Scss Document */
/* Scss Document */
body {
  background-color: #2d2e2e;
  color: #979899;
  font-size: 16px; }

.mainContainer {
  max-width: 1200px;
  margin: 0 auto; }

/* Scss Document */
#header {
  height: 100vh; }
  #header footer {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }

.profile-pic {
  background-image: url(../images/avatar.jpg);
  width: 250px;
  height: 250px;
  border-radius: 50%; }

.everythingcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; }

.fullHeight {
  height: 100%; }

.lightColour {
  background: #323333; }

.darkColour {
  background: #2d2e2e; }

.about-me h1 {
  font-size: 96px;
  color: #e0a80d; }

.about-me h4 {
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 500px;
  left: 35%; }
