/* Scss Document */

#header
{
	height:100vh;
	footer
	{
		position: absolute;
    	top: 90%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	width: 90%
	}
}
.profile-pic
{
	background-image:url(#{$logo_image}avatar.jpg);
	width: 250px;
    height: 250px;
	border-radius:50%;
}
.everythingcenter
{
	@include position(absolute);
	top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    
}
.fullHeight
{
	
	height:100%;
}
.lightColour
{
	
	background: lighten($body_bd, 2%);
}
.darkColour
{
	
	background: $body_bd;
}
.about-me
{
	h1
	{
	@include font-size(96px);
	color: #e0a80d;
	}
	h4
	{
		transform: translate(-50%, -50%);
    	position: absolute;
   		max-width: 500px;
    	left: 35%;
	}
}